* {
    padding: 10px;
    margin: 0;
}

body {
    background-color: transparent;
}



#buttons {
    display: flex;
    justify-content: center;
    margin: 20px;
   
}

.btn {
    margin: 30px;
    border: none;
    padding: 8px 15px;
    border-radius: 6px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;    
    font-size: .8em;
}
.btn:hover {
    cursor: pointer;
    transform: scale(1.05);
    transition: .7s;
}

#cat {
background-color:rgb(90, 192, 223);
}

#dog {
    background-color: rgb(92, 184, 92);
}

#dino {
    background-color: rgb(240, 174, 78);
}

#all {
    background-color: rgb(240, 78, 78);
}



/* cards section */
.cards-container {
    display: flex;
    flex-flow: wrap row;
    align-content: center;
}

.card {
    max-width: 250px;
    max-height: 300px;
    min-width: 250px;
    min-height: 300px;
    border: 1px solid black;
    flex-flow: wrap row;
}

.petImg {
    width: 30%;
}